{% extends 'user_navbar.html' %}

{% block content %}

  <div class="container bg-light py-5">
    <h1 class="text-center">CATEGORIES</h1>
    <hr>
    <div class="row">
      {% for ct in ct %}
      <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <h4>{{ ct }}</h4>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'stream' id=ct.id %}" class="btn btn-sm btn-outline-secondary">View Videos</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  <style>
    body {
      background-color: #378ce1;
    }

    .bg-light {
      background-color: #4b5bdb;
    }

    .card {
      border: 1px solid #3d15f0;
      border-radius: 5px;
      box-shadow: 0 2px 2px rgba(72, 41, 186, 0.1);
      transition: all 0.3s ease-in-out;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }
  </style>

{% endblock %}
