{% extends 'user_navbar.html' %}
{% block content %}


<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2>My Profile</h2>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <b></b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {{ data.regno }}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <b>Full Name</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {{ data.first_name }} {{ data.last_name }}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <b>Gender</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {{ data.gender }}
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-md-6">
          <b>Contact Number</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {{ data.contact_no }}
        </div>
      </div>
      <hr>
      
      <div class="row">
        <div class="col-md-6">
          <b>Dance Type(s)</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {% if data.register_set.all %}
            {% for register in data.register_set.all %}
              {% for dance_type in register.dance.all %}
                <p>{{ dance_type.name }}</p>
              {% endfor %}
            {% endfor %}
          {% else %}
            <p>No dance type registered yet.</p>
          {% endif %}
        </div>
      </div>
      


      
      <div class="row">
        <div class="col-md-6">
          <b>Age</b>
        </div>
        
        <div class="col-md-6" style="text-transform: capitalize">
           
          {% if register %}
          <p>{{ register.Age }}</p>
          {% else %}
    <p>Not registered yet.</p>
{% endif %}
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <b>Email ID</b>
        </div>
        <div class="col-md-6" style="text-transform: capitalize">
          {{ data.email }}
        </div>
      </div>
      <hr>

      <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-4">Edit Profile</a>

    </div>
  </div>
</div>


{% endblock content %}
